.season {
  width: 100%;
  height: 730px;
  background-color: #000;
  display: flex;
}
.block-product {
  width: 50%;
  height: 730px;
  color: #fff;
  padding: 10px;
}
.block-product__title {
  text-transform: uppercase;
  font-size: 24px;
  display: inline-block;
}
.title-wrap {
  border-bottom: 1px solid #fff;
}
.product-wrap {
  height: 550px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block-img {
  width: 50%;
  height: 730px;
  background-image: url(../images/content/B6_pRLvCUAAC7rJ.jpg);
  background-position: center;
}
.block-img__filter {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
}
